In [39]:
import sqlite3
from sqlite3 import Error

In [40]:
database = "sqlite_db_pythonsqlite.db"

# Create connection to local db
conn = sqlite3.connect(database)

# Cursor instance to query db
cursor = conn.cursor()

In [41]:
# Test query to check if connection works

In [42]:
# Execute and query db
hello_world_sql = """
    SELECT * 
    FROM FACILITIES
    """
cursor.execute(hello_world_sql)
result = cursor.fetchall()
result

[(0, 'Tennis Court 1', 5, 25, 10000, 200),
 (1, 'Tennis Court 2', 5, 25, 8000, 200),
 (2, 'Badminton Court', 0, 15.5, 4000, 50),
 (3, 'Table Tennis', 0, 5, 320, 10),
 (4, 'Massage Room 1', 9.9, 80, 4000, 3000),
 (5, 'Massage Room 2', 9.9, 80, 4000, 3000),
 (6, 'Squash Court', 3.5, 17.5, 5000, 80),
 (7, 'Snooker Table', 0, 5, 450, 15),
 (8, 'Pool Table', 0, 5, 400, 15)]

### Query 10

In [43]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members!

In [47]:
query_10 = """
SELECT facid, name, SUM(membercost * slots) AS member_revenue,
FROM FACILITIES
INNER JOIN BOOKINGS
USING(facid)
INNER JOIN MEMBERS
USING(memid)
WHERE member_revenue < 1000
GROUP BY name
ORDER BY facid;
"""
query_ten = """
    SELECT subq.name, SUM( sub.revenue ) AS revenue
    FROM (
    SELECT b.facid, b.memid, f.name, f.guestcost, f.membercost, COUNT( b.facid ) AS facid_count,
    CASE
    WHEN b.memid =0
    THEN COUNT( b.facid ) * f.guestcost
    ELSE COUNT( b.facid ) * f.membercost
    END AS 'revenue'
    FROM Bookings AS b
    LEFT JOIN Facilities AS f ON b.facid = f.facid
    GROUP BY b.facid, b.memid
    ) AS subq
    GROUP BY subq.facid
    HAVING revenue <=1000
    ORDER BY revenue DESC;
"""
cursor.execute(query_ten)
total_revenue_data = cursor.fetchall()
total_revenue_data

[('Badminton Court', 604.5),
 ('Pool Table', 265),
 ('Snooker Table', 115),
 ('Table Tennis', 90)]

### Query 11

In [ ]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [ ]:
query_eleven = """
    SELECT r.recommendedby AS recommender_ID, (r.surname || " " || r.firstname) AS recommender, m.memid AS recommended_ID, (m.surname || " " || m.firstname) AS recommended
    FROM MEMBERS AS m
    LEFT JOIN MEMBERS AS r
    ON m.recommendedby = r.memid
    WHERE m.recommendedby != 0
    ORDER BY recommender;
"""
cursor.execute(query_eleven)
cursor.fetchall()

### Query 12

In [ ]:
# Q12: Find the facilities with their usage by member, but not guests

In [ ]:
query_twelve = """
    SELECT b.facid, COUNT( b.memid ) AS mem_usage, f.name
    FROM (
    SELECT facid, memid
    FROM Bookings
    WHERE memid !=0
    ) AS b
    LEFT JOIN Facilities AS f ON b.facid = f.facid
    GROUP BY b.facid;
"""
cursor.execute(query_twelve)
cursor.fetchall()

### Query 13

In [ ]:
# Q13: Find the facilities usage by month, but not guests

In [ ]:
query_thirteen = """
    SELECT b.months, COUNT( b.memid ) AS mem_usage
    FROM (
    SELECT strftime('%m',starttime) AS months, memid
    FROM Bookings
    WHERE memid !=0
    ) AS b
    GROUP BY b.months;
"""
cursor.execute(query_thirteen)
cursor.fetchall()